.herosec {
  color: white;
  background-image: linear-gradient(
    rgba(12, 26, 48, 0.45),
    rgba(12, 26, 48, 0.85)
  ), url('../assets/images/heroimagen.png');
  height: 813px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.herodiv {
  margin-left: 100px;
  height: 430px;
  display: flex;
  flex-direction: column;
}

.herodiv h1 {
  font-family: 'Playfair';
  font-size: 60px;
  width: 760px;
  margin-bottom: 30px;
}

.herodiv span {
  width: 600px;
  font-family: 'Inter';
  color: #5e758d;
  font-size: 20px;
  margin-bottom: 30px;
}

.herobtn {
  display: flex;
  justify-content: space-between;
  width: 440px;
  font-family: 'Inter';
  letter-spacing: 1px;
  font-size: 14px;
}

.btnagendar {
  padding: 15px 30px;
  color: black;
  background-color: white;
  cursor: pointer;
}

.btnagendar:hover {
  background-color: #d6b983;
}

.btnwhatsapp {
  border: 1px solid #C5A059;
  padding: 15px 30px;
  cursor: pointer;
}

.btnwhatsapp:hover {
  background-color: rgba(255, 255, 255, 0.151);
}

.seccion1 {
  height: 210px;
  background-color: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1300px;
  justify-self: center;
}

.seccion1bloq {
  width: 50%;
  display: flex;
  align-items: center;
}

.seccion1bloq span {
  color: #C5A059;
  margin-right: 30px;
  font-size: 40px;
  font-family: 'Playfair';
}

.seccion1bloq p {
  font-family: 'Inter';
  font-size: 18px;
  border-left: 3px solid #C5A059;
  padding-left: 30px;
  height: 40px;
  display: flex;
  align-items: center;
}

.seccion2 {
  display: flex;
  flex-direction: column;
  width: 1500px;
  justify-self: center;
}

.seccion2head {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
}

.seccion2head span {
  font-family: 'Inter';
  color: #C5A059;
  letter-spacing: 1px;
  font-size: 20px;
  margin-bottom: 14px;
}

.seccion2head h2 {
  font-family: 'Playfair';
  font-size: 34px;
  font-weight: 400;

}

.seccion2body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.seccion2body div {
  width: 20%;
  display: flex;
  flex-direction: column;
}

.seccion2body p {
  font-size: 22px;
  font-family: 'Playfair';
  margin-top: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.seccion2body span {
  font-family: 'Inter';
  font-size: 16px;
  margin-bottom: 20px;
  width: 210px;
}

.morebtn {
  color: #C5A059;
  cursor: pointer;
}

.seccion3 {
  display: flex;
  margin-top: 80px;
  width: 1500px;
  justify-self: center;
  margin-bottom: 80px;
}

.seccion3left {
  height: 600px;
}

.Logotipo {
  position: absolute;
  margin-left: 600px;
  margin-top: 450px;
}

.seccion3right {
  display: flex;
  flex-direction: column;
  margin-left: 150px;
  justify-content: center;
}

.seccion3rightsp {

  color: #C5A059;
  font-family: 'Inter';
  font-size: 18px;
  letter-spacing: 1px;
}

.seccion3righttitle {
  font-size: 30px;
  margin-top: 40px;
  font-family: 'Playfair';
  font-weight: 600;
  margin-bottom: 20px;
  width: 500px;
  color: #1B2A41;
}

.seccion3desc {
  color: black;
  font-family: 'Inter';
  width: 500px;
}

.seccion3bloq {
  margin-top: 40px;
  margin-left: 20px;
}

.seccion3bloq p{
  font-family: 'Playfair';
  font-weight: 600;
  color: #1B2A41;
  font-size: 18px;
}

.seccion3bloq span {
  font-family: 'Inter';
  font-size: 14px;
}

.seccion4 {
  display: flex;
  width: 80%;
  justify-self: center;
  margin-bottom: 80px;
  flex-direction: column;
  margin-top: 200px;
}

.seccion4t  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seccion4t span {
  letter-spacing: 1px;
  font-family: 'Inter';
  color: #C5A059;
  font-size: 24px;
}

.seccion4t p {
  font-family: 'Playfair';
  font-size: 32px;
  margin-top: 10px;
}

.seccion4b {
  display: flex;
}

.seccion4bl {
  width: 50%;
  border-left: 3px solid #C5A059;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.seccion4com {
  font-size: 40px;
  font-family: 'Playfair';
  color: #C5A059;
  margin-left: 120px;
  margin-top: 60px;
}

.seccion4comment {
  margin-left: 120px;
  margin-top: 20px;
  font-family: 'Inter';
  width: 400px;
  font-size: 18px;
}

.seccion4bl div {
  margin-left: 120px;
  margin-top: 20px;
}

.seccion4perfil p {
  font-size: 18px;
  font-family: 'Inter';
  margin-bottom: 3px;
}

.seccion4perfil span {
  color: #C5A059;
  font-family: 'Inter';
  font-size: 14px;
}

.seccion5 {
  height: 550px;
  margin-top: 200px;
  color: white;
  background-image: url("../assets/images/sprinkle.svg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seccion5 h2 {
  font-family: 'Playfair';
  font-size: 50px;
  margin-bottom: 30px;
}

.seccion5 span {
  font-size: 20px;
  width: 600px;
  text-align: center;
  font-family: 'Inter';
  color: #5e758d;
  margin-bottom: 80px;
}

.seccion5 p {
  padding: 20px 40px;
  letter-spacing: 2px;
  background-color: #756038;
  font-family: 'Inter';
  cursor: pointer;
}

.seccion5 p:hover {
  background-color: #C5A059;
}

.seccion6 {
  display: flex;
  flex-direction: column;
  margin-right: 200px;
}

.seccion6t {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  margin-left: 30px;
}

.seccion6tleft {
  display: flex;
  flex-direction: column;
  width: 420px;
  align-items: center;
  justify-content: center;
}

.seccion6tleft span {
  font-family: 'Inter';
  font-size: 14px;
  color: #1B2A41;
text-align: center;
}

.seccion6sec {
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
}

.med{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.seccion6sec p {
  color: #C5A059;
  letter-spacing: 0.5px;
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 20px;
}

.seccion6sec span {
  color: #1B2A41;
  cursor: pointer;
  padding: 5px 10px;
}

.seccion6b {
  color: #1B2A41;
  font-family: 'Inter';
  margin-top: 40px;
  margin-left: 30px;
  margin-bottom: 20px;
  font-size: 16px;
  display: flex;
  justify-content: end;
}